.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  grid-area: header;
  background-color: var(--color-white);
  padding: 10px 0;
  border-bottom: 2px solid var(--color-primary);
  box-shadow: 2px 0px 5px var(--color-black);

  & .content {
    display: grid;
    grid-template-columns: 400px 1fr 400px;

    & .logo {
      & .title {
        cursor: pointer;
        color: var(--color-primary);
        & span {
          font-family: var(--decoration-font);
          font-size: 28px;
        }
      }
    }

    & .btn-box {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      & .login-btn {
        margin-right: 20px;
      }
    }

    & .shop-link {
      position: relative;
      display: flex;
      align-items: center;

      & svg {
        margin-left: 5px;
      }

      & .item {
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 14px;
        border: 1px solid var(--color-primary);
        background-color: var(--color-olive);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
