.input {
  border-radius: 12px;
  padding: 5px 35px 5px 15px;
  outline: none;
  width: 100%;
  transition: var(--transition);
  border: 2px solid var(--color-olive-light);

  &:focus,
  &:hover {
    border-color: var(--color-primary);
  }

  &::placeholder {
    font-weight: 600;
    color: var(--color-olive-dark);
  }
}

.input-block {
  position: relative;
}

.icon {
  position: absolute;
  right: 12px;
  top: 10px;
  transition: var(--transition);

  &-search {
    & path {
      transition: var(--transition);
      stroke: var(--color-olive-light);
    }
  }
}

.input:hover + .icon-search path,
.input:focus + .icon-search path {
  stroke: var(--color-primary);
}
