.input-block {
  position: relative;
  width: 100%;
}

.input {
  border-radius: 12px;
  padding: 5px 35px 5px 15px;
  outline: none;
  width: 100%;
  transition: var(--transition);
  border: 2px solid var(--color-olive-light);

  &:focus,
  &:hover {
    border-color: var(--color-primary);
  }

  &::placeholder {
    font-weight: 600;
    color: var(--color-olive-dark);
  }

  &.error {
    border-color: red !important ;
  }

  &.warning {
    border-color: orange;
  }
}

.icon {
  position: absolute;
  right: 12px;
  top: 10px;
  transition: var(--transition);

  &-search {
    & path {
      transition: var(--transition);
      stroke: var(--color-olive-light);
    }
  }
}

.pass {
  cursor: pointer;

  & path {
    stroke: var(--color-primary);
  }
}

.input:hover + .icon-search path,
.input:focus + .icon-search path {
  stroke: var(--color-primary);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
