.link {
  display: inline-block;
  height: max-content;
  padding: 3px 8px;
  transition: var(--transition);
  border-radius: 6px;
  line-height: normal;
}

.primary {
  color: var(--color-white);
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-olive-dark);
  }
}

.ghost {
  font-weight: 600;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-olive-light);
  }
}

.warning {
  border: 1px solid rgb(234, 163, 70);
  background-color: transparent;
  color: rgb(234, 163, 70);
  padding: 5px 15px;
  font-weight: 500;
  font-size: 16px;

  &:hover {
    background-color: rgb(239, 108, 14);
    color: antiquewhite;
  }
}
