.device-menegment {
  & .list {
    width: 100%;

    & .item {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45%;
      border: 1px solid var(--color-primary);
      padding: 10px 15px;
      border-radius: 10px;
      text-transform: lowercase;
    }
  }
}

.paginate {
  display: flex;
  align-items: center;
  width: 100%;

  & li {
    margin-inline: 10px;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    background-color: var(--color-olive-light);
    padding: 5px 10px;
    border-radius: 6px;
  }
}
