.list {
  position: sticky;
  top: 60px;
  padding: 20px;
  background-color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--color-primary);
  z-index: 9;

  & .brands {
    display: inline-block;
    margin: 0 10px;
    padding: 3px 5px;
    border: 1px solid green;
    border-radius: 6px;
    cursor: pointer;

    &.active,
    &:hover {
      background-color: rgb(122, 231, 122);
    }
  }
}
